* {
    font-family: Georgia, "Times New Roman", serif;
}

h1 {
    font-size: 40px;
    color: rgb(41, 61, 7);
}

h3 {
    background-color: rgb(167, 206, 88);
}

a {
    font-size: 20px;
    font-weight: 300;
    color: white;
    background-color: darkolivegreen;


}

img {
    width: 400px;
    height: auto;
}

ul {
    list-style-type: circle;
}

.menu {
    list-style-type: none;
}